#slider {
    width: 90%;
    max-width: 130rem;
    height: 50rem;
    max-height: 60rem;

    position: relative;
    margin-top: 3rem;
    margin-left: 5rem;
    
}

#slider img{
    opacity: 0;

    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: cover;

    transition: opacity 800ms;

    border-radius: 5rem;
    border: 0.5rem solid black;
}

#slider img.selected { 
    opacity: 1;
}